body{
	width: 100vw;
	height: 100vh;
	margin: 0;
	overflow: hidden;
	background: rgb(8,21,31);
	background: linear-gradient(90deg, rgba(8,21,31,1) 0%, rgba(23,57,82,0.9587185215883228) 100%, rgba(12,97,107,1) 100%);
}
.myname{
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 180px;
	letter-spacing: -0.6px;
	word-spacing: 0.2px;
	color: #181279;
	font-weight: 700;
	text-decoration: none solid rgb(68, 68, 68);
	font-style: italic;
	font-variant: small-caps;
	text-transform: uppercase;
	text-shadow: 10px 20px 5px #7733ff,15px 15px #ff4da6;
	transform: rotate(-10deg);
	animation: breathout 3s linear infinite;
	animation-direction: alternate-reverse;
}
.container{
	width: 100%;
	height:100%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	perspective: 20px;
	z-index: 0;
}
.frame{
	width: 500px;
	height: 500px;
	position: absolute;
	border-radius: 50px;
	border:5px #087be6 solid;
	box-shadow: 
	0px 0px 20px #00ccff,
	inset 0px 0px 20px #00ccff,
	0px 0px 60px #ff00c8,
	inset 0px 0px 60px #ff00c8;
	filter: brightness(1.5) contrast(2) ;
	animation: breathing 3s ease-out infinite;
}
.frame:nth-child(1){
	transform: rotate(40deg) translateY(0px) translateZ(0px);
	opacity: 1.00;
	animation-delay: 1s;
}
.frame:nth-child(2){
	transform: rotate(40deg) translateY(50px) translateZ(-10px);
	opacity: 0.9;
	animation-delay: 2s;
}
.frame:nth-child(3){
	transform: rotate(40deg) translateY(100px) translateZ(-20px);
	opacity: 0.8;
	animation-delay: 3s;
}
.frame:nth-child(4){
	transform: rotate(40deg) translateY(150px) translateZ(-30px);
	opacity: 0.7;
	animation-delay: 4s;
}
.frame:nth-child(5){
	transform: rotate(40deg) translateY(200px) translateZ(-40px);
	opacity: 0.6;
	animation-delay: 5s;
}
.frame:nth-child(6){
	transform: rotate(40deg) translateY(250px) translateZ(-50px);
	opacity: 0.5;
	animation-delay: 6s;
}
.frame:nth-child(7){
	transform: rotate(40deg) translateY(300px) translateZ(-60px);
	opacity: 0.4;
	animation-delay: 7s;
}
.frame:nth-child(8){
	transform: rotate(40deg) translateY(350px) translateZ(-70px);
	opacity: 0.3;
	animation-delay: 8s;
}
.frame:nth-child(9){
	transform: rotate(40deg) translateY(400px) translateZ(-80px);
	opacity: 0.2;
	animation-delay: 9s;
}
.frame:nth-child(10){
	transform: rotate(40deg) translateY(450px) translateZ(-90px);
	opacity: 0.1;
	animation-delay: 10s;
}
.frame:nth-child(11){
	transform: rotate(40deg) translateY(500px) translateZ(-100px);
	opacity: 0.05;
	animation-delay: 11s;
}
@keyframes breathing{
	0%{filter : brightness(1.5) contrast(3) ;}
	50%{filter : brightness(1.1) contrast(2) ;}
	100%{filter : brightness(1.5) contrast(3) ;}
}
@keyframes breathout{
	0%{filter : brightness(1.5) contrast(3) ;z-index: 0;font-size: 100px;}
	100%{filter : brightness(1.5) contrast(3) ; z-index: -2;font-size: 180px;}
}